@font-face {
    font-family:'Montserrat';
    src: url(/FUENTES_8/Montserrat-VariableFont_wght.ttf);
}
p{
    font-family: "Montserrat";
    font-size: 11px; 
}


section{
    display: flex;
      display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding:15px;
  
}

body{
    margin: 0;
  
}

main{
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
 height: 100vh;
 width: 100vw;
 gap: 6px;
}

#s1{
  grid-column:1/2;
  grid-row: 1/2;
  background-color: #041354;
  color:white;
}

#s2{
  background-color: #ededed;
}

#s3{
   grid-column:3/5;
  grid-row: 1/2;
  background-color: #ff834c;
   color:white;
}


#s4{
  background-color: #51e6d6;
}


#s5{
   grid-column:6/8;
  grid-row: 1/2;
  background-image: url(/IMG_8/gallery-1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#s6{
   background-image: url(/IMG_8/gallery-2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#s7{
   background-color: #4c7af3;
     color:white;
}

#s8{
   grid-column:2/4;
  grid-row: 2/4;
  background-image: url(/IMG_8/gallery-3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#s9{
 background-color: #d4dae7;
}

#s10{
 background-color: #041354;
   color:white;
}

#s11{
 background-color: #4c7af3;
   color:white;
 grid-column:6/8;
  grid-row: 2/3;
}

#s12{
  background-image: url(/IMG_8/gallery-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#s13{
 background-color: #d4dae7;
}

#s14{
 background-color: #ededed;
   grid-column:4/6;
  grid-row: 3/4;
}

#s15{
  background-image: url(/IMG_8/gallery-5.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

#s16{
 background-color: #51e6d6;
}

#s17{
 background-color: #ff834c;
   color:white; 
}



#s18{
 background-color: #51e6d6;
}
#s19{
 background-color: #4c7af3;
   color:white;
}
#s20{
 background-color: #ff834c;
  color:white;
}
#s21{
 background-color: #d4dae7;;
}
#s22{
 background-color: #4c7af3;
 color:white;
}

#s23{
  background-image: url(/IMG_8/gallery-6.jpg);
  background-size: cover;
  background-repeat: no-repeat;
   grid-column:6/7;    
  grid-row: 4/6;
}
#s24{
 background-color: #041354;
 color:white;
 grid-column:7/8;    
  grid-row: 4/6;
}
#s25{
  background-image: url(/IMG_8/gallery-7.jpg);
  background-size: cover;
  background-repeat: no-repeat;
    grid-column:8/9;    
  grid-row: 4/6;
}

#s26{
 background-color: #ededed;
}
#s27{
 background-color: #d4dae7;
}
#s28{
 background-color: #51e6d6;
}
#s29{
 background-image: url(/IMG_8/gallery-8.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
#s30{
    
 background-color: #ededed;
}


@media (max-width: 768px) {

  main{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    width: 100vw;
    height: auto;
  }

  main > section{
    grid-column: auto !important;
grid-row: auto !important;

    aspect-ratio: 1 / 1;
  }

}

